.podcast-profile {
  background-color: #fff;
  width: 250px;
  font-size: 12px;
  padding: 15px 10px;
  box-shadow: 0px 3px 8px #d2d2d7;
}

.podcast-profile__cover {
  padding: 0 10px;

  .podcast-profile__cover-image {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.podcast-profile__rights {
  padding: 10px 0;
  border-top: 1px solid #d2d2d7;
  border-bottom: 1px solid #d2d2d7;
  margin: 10px 0px;
}

.podcast-profile__title h4 {
  margin: 0 0 5px 0;
}

.podcast-profile__author {
  font-style: italic;
}
.podcast-profile__summary strong {
  display: block;
  margin-bottom: 5px;
}
