.input {
  display: block;
  height: 25px;
  width: 100%;
  border: 1px solid #d2d2d7;
  border-radius: 5px;
  padding: 0 10px;

  outline: none;
  transition: all 0.2s ease-in-out;

  &:focus {
    border-color: #0066cc;
  }
}
