.internal-page {
  width: 100%;
  margin-left: 30px;
  flex: 1;

  .podcast-internal__box {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    box-shadow: 0px 3px 8px #d2d2d7;
  }

  .podcast-internal__table-container {
    margin-top: 20px;
  }
  .podcast-internal__table {
    width: 100%;
    border-collapse: collapse;

    .podcast-internal__table-header {
      border-bottom: 2px solid #d2d2d7;
      height: 30px;
    }
    .podcast-internal__table-title-header {
      width: 70%;
      text-align: left;
      padding-left: 5px;
    }
    .podcast-internal__table-date-header {
      width: 15%;
      text-align: left;
    }
    .podcast-internal__table-duration-header {
      width: 15%;
      text-align: left;
    }

    .podcast-internal__table-line {
      height: 30px;
      border-bottom: 1px solid #d2d2d7;
      cursor: pointer;

      &:nth-child(odd) {
        background-color: #f5f5f7;
      }
    }

    .podcast-internal__table-title {
      color: #0066cc;
      padding-left: 5px;
    }
  }
}
