.podcast {
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #d2d2d7;
  border-radius: 5px;
  box-shadow: 0px 3px 8px #d2d2d7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    border: 1px solid #0066cc;
  }

  .podcast__cover {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #d2d2d7;
    margin: 0 auto;

    background-size: cover;
    background-position: center top;
  }

  .podcast__title {
    font-weight: normal;
    margin: 5px 0 2px 0;
  }
  .podcast__author {
    font-size: 12px;
    color: #1d1d1f;
  }
}
